<div class="flex flex-col h-full w-full- p-2 items-center justify-center bg-[url('/assets/backgrounds/main_menu.jpg')] bg-no-repeat bg-contain bg-center select-none"
    style="cursor: url('/assets/cursor/cursor.cur'), auto;">

    <div>
        <img [src]="'/assets/logo/logo.png'" class="h-[150px]" />
        <h1 class="text-[#000] text-4xl text-center text-shadow-2xs text-shadow-[#CDC9C6]">CLONE</h1>
    </div>

    <div class="flex flex-col p-2 items-center justify-center gap-1.5">
        <app-button [content]="'SINGLE PLAYER'" (buttonClick)="singlePlayer()" />
        <app-button [content]="'-'" [disabled]="true" />
        <span class="h-[30px]"></span>
        <app-button [content]="'-'" [disabled]="true" />
        <app-button [content]="'-'" [disabled]="true" />
        <span class="h-[30px]"></span>
        <div class="flex gap-[25px]">
            <app-button [content]="'-'" [disabled]="true" [type]="'short'" />
            <app-button [content]="'-'" [disabled]="true" [type]="'short'" />
        </div>
        <app-button [content]="'EXIT DIABLO II'" [disabled]="true" />
    </div>

    <footer>
        Footer
    </footer>

</div>