<div class="flex flex-col h-full w-full- p-2 items-center justify-center">

    <div>
        Logo Here
    </div>

    <div class="flex flex-col h-full w-full- p-2 items-center justify-center gap-1.5">
        <app-button [content]="'SINGLE PLAYER'" (buttonClick)="singlePlayer()" />
        <app-button [content]="'-'" [disabled]="true" />
        <span class="w-80 h-11"></span>
        <app-button [content]="'-'" [disabled]="true" />
        <app-button [content]="'-'" [disabled]="true" />
    </div>

    <div>
        <div>
            <app-button [content]="'CREDITS'" [disabled]="true" [type]="'short'" />
            <app-button [content]="'CINEMATICS'" [disabled]="true" [type]="'short'" />
        </div>
        <app-button [content]="'EXIT DIABLO II'" [disabled]="true" />
    </div>

    <footer>
        Footer
    </footer>

</div>