<div class="flex flex-row gap-2 overflow-clip bg-amber-50">
    <div>
        <p>hp</p>
        <p>TODO: GAME CONTROLLER SERVICE</p>
    </div>
    <p>skill bar</p>
    <div class="flex flex-row">
        <div>pot</div>
        <div>pot</div>
        <div>pot</div>
        <div>pot</div>
    </div>
    <p>mp</p>
    <button (click)="handleToggleInventory()" class="bg-amber-50 w-[32px] h-[32px] active:brightness-90" style="
            background-image: url(ui/close_button.bmp);
            background-size: 32px 32px;
        ">
    </button>
</div>