<form class="page" [formGroup]="this.form">
    <h1 class="title">Select Hero Class</h1>

    <div class="class-image">
        <img [src]="`./assets/backgrounds/${this.currentClass.toLowerCase()}_background.png`" />

        <div class="hero-class-container">
            <button *ngFor="let characterClass of characterClasses" class="hero-class"
                (click)="selectClass(characterClass.className)"
                [ngClass]="characterClass.className == 'Paladin' ? 'paladin-height' : 'class-height'">

                <img [src]="characterClass.classImage" [alt]="characterClass.className"
                    [title]="characterClass.className" />

                <div>
                    <p>{{ characterClass.className }}</p>
                </div>
            </button>
        </div>

        <div class="class-name" *ngIf="this.formField('characterClass')?.value">
            <p>{{ this.currentClass }}</p>
            <p class="description">{{ this.formField('characterClass')?.value?.description }}</p>
        </div>

        <div class="character-data" *ngIf="this.formField('characterClass')?.value">
            <label for="characterName">
                <p>Character Name</p>

                <div>
                    <div>
                        <input id="characterName" formControlName="characterName" type="text" maxlength="15"
                            autocomplete="inline" [value]="this.formField('characterName')?.value" />
                    </div>
                </div>
            </label>
        </div>
    </div>

    <div class="footer-buttons">
        <app-button [content]="'Back'" (buttonClick)="handleBackToHome()" />
        <app-button [content]="'Create'" [type]="'submit'" [disabled]="this.form.invalid"
            (buttonClick)="onSubmit()"></app-button>
    </div>
</form>
