<div id="GameContainer" [class]="{
    
}">
    <div id="stats" class="w-3/4 lg:w-1/2 max-w-[500px] bg-blue-100 hidden">stats</div>
    <div id="mercenary" class="w-3/4 lg:w-1/2 max-w-[500px] bg-blue-100 hidden">stats</div>
    <div class="flex-1 overflow-auto  bg-blue-100">stats
        <app-player-hud [gameController]="gameController" />
    </div>
    <!-- <div id="inventory" class="w-1/2 max-w-[500px] transition-all duration-300 bg-orange-100" [ngClass]="{
        'w-64': isRightOpen,
        'w-0 overflow-hidden': !isRightOpen
      }">inventory</div> -->
    <div class="transition-all duration-300" [class]="{
            'w-[500px]': isInventoryOpen,
            'w-0 overflow-hidden': !isInventoryOpen
        }">
        <app-inventory [gameController]="gameController"></app-inventory>
    </div>
</div>